
.file{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
  
    
}

.card{
    padding-top: 20px;
    height: 100%;
    width: 50vw;
    display: flex;
    background: linear-gradient(90deg, rgb(34, 0, 36) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    border: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;   
   
}

